<div id="welcome">
  <div class="container-fluid">
    <% if(info) { %>
      <div class="alert alert-<% if(info.type="success"){ %>success<% }else{ %>danger<% } %>" role="alert">
        <strong><%= info.message %></strong>
      </div>
      <% } %>
      <div class="row">
        <div class="col-12 col-lg-3">
          <form action="/sendMail" method="POST">
            <div class="form-group">
              <label for="search-input"><h4>Filtrer les contacts : </h4></label>
              <!-- <input type="text" name="search-input" id="search-input"></input> -->
              <!-- <input type="text" id="contacts" name="contacts" class="form-control" rows="6" placeholder="Entrez votre texte ici..."></input> -->
              <div class="form-group">
                <select class="form-control" id="select-type">
                  <option></option>
                  <option>ETA</option>
                  <option>CONCESSION</option>
                  <option>COUPE REPLIABLE</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-9">
          <div class="row">
            <div class="col-6"><h4>Destinataires : </h4></div>
            <div class="col-2">
              <label for="load-file">
                <span class="btn btn-info pull-right btn-dark">Charger un fichier</span>
                <input type="file" id="load-file" style="display:none">
              </label>
            </div>
            <!-- <div class="col-2"><label for="input-file"><button class="btn btn-info pull-right btn-dark" id="load-file">Fichier</button><input type="file" id="input-file" name="file" style="display:none"></input></label></div> -->
            <div class="col-2"><button class="btn btn-info pull-right btn-dark" id="clear-list">Vider la liste</button></div>
            <div class="col-2"><button class="btn btn-info pull-right btn-dark" id="add-contact">Ajouter un contact</button></div>
          </div>
          <div id="container-contacts">
            <div id="spinner" class="spinner invisible">
              <img id="img-spinner" src="/images/ajax-loader.gif" alt="Loading"/>
            </div>
            <% if(contacts){%>
              <table class="table" id="table-contacts">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Raison sociale</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Code postal</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <% contacts.forEach(function(elm, index){ %>
                    <tr data-idContact="<%= elm.id %>">
                      <td><%= elm.typeContact %></td>
                      <td><%= elm.denomination %></td>
                      <td><%= elm.name %></td>
                      <td><%= elm.firstName %></td>
                      <td><%= elm.zipCode %></td>
                      <td class="email"><%= elm.email %></td>
                      <% }) %>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-12 col-lg-9 offset-lg-3">
              <form method="POST" action="/sendMail" id="mail-form">
                <div class="form-group">
                  <label for="mail-subject"><h4>Sujet du mail : </h4></label>
                  <input class="form-control" type="text" name="mail-subject" id="mail-subject"></input>
                  <!-- <input type="hidden" id="mail-subject" name="mail-subject"></input> -->
                </div>
                <div class="form-group">
                  <label for="mail-body"><h4>Corps du mail : </h4></label>
                  <textarea class="form-control" id="mail-body" name="mail-body" rows="6" placeholder="Entrez votre texte ici..."></textarea>
                  <input type="hidden" name="contacts" id="input-contacts" />
                </div>
                <button type="submit" class="btn btn-dark" id="btn-submit">Envoyer</button>
              </form>
            </div>
          </div>

        </div>
      </div>

      <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
